<div class="ui grid operation">
    <div class="sixteen wide column">
        <h5 class="ui top attached dark header">
            Status
        </h5>
        <div class="ui attached inverted segment status">

        </div>
    </div>
    <div class="eight wide column">
        <h5 class="ui top attached dark control header">
            Steuerung
        </h5>
        <div class="ui attached inverted segment control">
            <div class="regularControls" style="display: block">
                <h3 class="ui inverted header">
                    <i class="fighter jet icon"></i>
                    <div class="content">
                        Belastung
                        <div class="sub header">Begrenzung der G-Kräfte</div>
                    </div>
                </h3><br>
                <div class="ui labeled ticked inverted slider"></div>
                <div class="ui divider"></div>
                <h3 class="ui inverted header">
                    <i class="directions icon"></i>
                    <div class="content">
                        Drehrichtung
                    </div>
                </h3>
                <div class="ui huge fluid inverted direction buttons">
                    <button class="ui inverted active white right button">Rechts</button>
                    <button class="ui inverted left button">Links</button>
                </div>
                <h3 class="ui inverted header">
                    <i class="toggle on icon"></i>
                    <div class="content">
                        Modus
                    </div>
                </h3>
                <div class="ui huge fluid inverted operation-mode buttons">
                    <button class="ui inverted white static-speed button">Feste Belastung</button>
                    <button class="ui inverted active simulation button">Simulation</button>
                </div>
            </div>
            <div class="adaptiveAccelerationControls" style="display: none">
                <button class="ui inverted blue fluid massive button acceleration">
                    <i class="circular plus icon"></i><br><br>
                    Steigere maximale Belastung (+ 0.5 G)
                </button>
            </div>
            <div class="ui divider"></div>
            <h3 class="ui inverted header">
                <i class="play icon"></i>
                <div class="content">
                    Freigabe Antrieb
                </div>
            </h3>
            <button class="ui inverted blue fluid massive button release">Freigeben</button>
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui grid">
            <div class="five wide column">
                <h5 class="ui top attached dark header">
                    Pilot
                </h5>
                <div class="ui attached inverted segment pilot">
                    <canvas id="brakeInputChart" height="530"></canvas>
                </div>
            </div>
            <div class="eleven wide column">
                <h5 class="ui top attached dark header">
                    Belastung
                </h5>
                <div class="ui attached inverted segment force">
                </div>
                <h5 class="ui top attached dark speed header">
                    Geschwindigkeit
                </h5>
                <div class="ui attached inverted segment speed">
                    <div id="speedChart"></div>
                </div><br>
            </div>
        </div>

    </div>
</div>