<div class="ui grid settings">
    <div class="ten wide column">
        <h5 class="ui top attached dark header">
            Werte Steuerleinen
        </h5>
        <div class="ui attached inverted segment" id="brakeStatsSegment">
        </div>
    </div>
    <div class="six wide column"></div>
    <div class="five wide column">
        <h5 class="ui top attached dark header">
            Bereich Außenbremse
        </h5>
        <div class="ui attached inverted segment" id="outerBrakeSegment">
            <h4 class="ui inverted header">
                <i class="chevron circle right icon"></i>
                <div class="content">
                    Minimum:
                </div>
            </h4>
            <div class="ui fluid action inverted minimum input">
                <input type="text" aria-label="Min. outer brake" value="">
                <div class="ui inverted white button">Setzen</div>
            </div>
            <div class="ui divider"></div>
            <h4 class="ui inverted header">
                <i class="chevron circle left icon"></i>
                <div class="content">
                    Maximum:
                </div>
            </h4>
            <div class="ui fluid action inverted maximum input">
                <input type="text" aria-label="Min. outer brake" value="">
                <div class="ui inverted white button">Setzen</div>
            </div>
            <div class="ui divider"></div>
            <div class="ui blue inverted fluid save button">Speichern</div>
        </div>
    </div>
    <div class="five wide column">
        <h5 class="ui top attached dark header">
            Bereich Innenbremse
        </h5>
        <div class="ui attached inverted segment" id="innerBrakeSegment">
            <h4 class="ui inverted header">
                <i class="chevron circle right icon"></i>
                <div class="content">
                    Minimum:
                </div>
            </h4>
            <div class="ui fluid action inverted minimum input">
                <input type="text" aria-label="Min. outer brake" value="">
                <div class="ui inverted white button">Setzen</div>
            </div>
            <div class="ui divider"></div>
            <h4 class="ui inverted header">
                <i class="chevron circle left icon"></i>
                <div class="content">
                    Maximum:
                </div>
            </h4>
            <div class="ui fluid action inverted maximum input">
                <input type="text" aria-label="Min. outer brake" value="">
                <div class="ui inverted white button">Setzen</div>
            </div>
            <div class="ui divider"></div>
            <div class="ui blue inverted fluid save button">Speichern</div>
        </div>
    </div>
    <div class="six wide column"></div>
    <div class="five wide column">
        <h5 class="ui top attached dark header">
            Sanfter Anlauf
        </h5>
        <div class="ui attached inverted segment" id="softStartSegment">
            <h4 class="ui inverted header">
                <i class="circle dashboard icon"></i>
                <div class="content">
                    Sanfter Anlauf bis zur folgenden Belastung
                </div>
            </h4>
            <div class="ui fluid action inverted speed input">
                <input type="number" aria-label="soft start speed" value="">
            </div>
            <h4 class="ui inverted header">
                <i class="circle chart line icon"></i>
                <div class="content">
                    Beschleunigung
                </div>
            </h4>
            <div class="ui fluid action inverted acceleration input">
                <input type="number" aria-label="acceleration" value="">
            </div>
            <div class="ui divider"></div>
            <div class="ui blue inverted fluid save button">Speichern</div>
        </div>
    </div>
    <div class="five wide column">
        <h5 class="ui top attached dark header">
            Beschleunigung
        </h5>
        <div class="ui attached inverted segment" id="accelerationStagesSegment">
            <table class="ui very basic relaxed celled inverted table">
            </table>
            <h4 class="ui inverted header">
                <i class="circle chart line icon"></i>
                <div class="content">
                    Modus zur Auswahl der Stufe
                </div>
            </h4>
            <div class="ui large fluid inverted acceleration-mode buttons">
                <button class="ui inverted white target-speed button">Zielgeschwindigkeit</button>
                <button class="ui inverted differential button">Differenz</button>
            </div>
            <div class="ui divider"></div>
            <div class="ui blue inverted fluid save button">Speichern</div>
        </div>
    </div>
    <div class="six wide column"></div>
    <div class="five wide column">
        <h5 class="ui top attached dark header">
            Kräfteberechnung
        </h5>
        <div class="ui attached inverted segment" id="forceCalculationSegment">
            <h4 class="ui inverted header">
                <i class="circle outline icon"></i>
                <div class="content">
                    Radius - Zentrum zu Passagier:
                </div>
            </h4>
            <div class="ui fluid action inverted radius input">
                <input type="number" aria-label="rotation radius" value="">
            </div>
            <div class="ui divider"></div>
            <div class="ui blue inverted fluid save button">Speichern</div>
        </div>
    </div>
    <div class="five wide column">
        <h5 class="ui top attached dark header">
            Benutzeroberfläche
        </h5>
        <div class="ui attached inverted segment" id="userInterfaceConfiguration">
            <h4 class="ui inverted header">
                <i class="mobile alternate icon"></i>
                <div class="content">
                    Steuerung Geschwindigkeit
                </div>
            </h4>
            <div class="ui toggle big inverted checkbox adaptiveAccelerationButton">
                <input type="checkbox" name="activate">
                <label>Aktiviere großes Bedienelement während Betrieb</label>
            </div>
            <div class="ui divider"></div>
            <div class="ui blue inverted fluid save button">Speichern</div>
        </div>
    </div>
</div>