<div class="ui grid">
    <div class="four wide column">
        <a class="ui inverted {{ amplifierColor }} basic large fluid centered label"><i class="{{ amplifierColor }} circle icon"></i>{{ amplifierText }}</a>
    </div>
    <div class="four wide column">
        <a class="ui inverted {{ inverterColor }} basic large fluid centered label"><i class="{{ inverterColor }} circle icon"></i>{{ inverterText }}</a>
    </div>
    <div class="four wide column">
        <a class="ui inverted {{ fieldBusColor }} basic large fluid centered label"><i class="{{ fieldBusColor }} circle icon"></i>{{ fieldBusText }}</a>
    </div>
    <div class="four wide column">
        <a class="ui inverted {{ malfunctionColor }} basic large fluid centered label"><i class="{{ malfunctionColor }} circle icon"></i>{{ malfunctionText }}</a>
    </div>
</div>