body {
    background-color: #000;
    padding: 0;
    margin: 0;
}

#navigation {
    background-color: #1a1c1d;
    width: 115px;
    float: left;
    height: 101vh;
}

#navigation img {
    padding: 11px;
}

.operation.grid {
    padding-top: 24px;
    padding-left: 14px;
}

.operation.grid canvas {
    width: 100%;
}

.dark.header {
    height: 32px;
    padding-top: 8px !important;
    background-color: #4e4e4e !important;
    color: #fff;
    border-color: #646464 !important;
}


.status.segment {
    height: 110px;
}

.status.segment .label {
    text-align: center;
    margin-bottom: 12px !important;
    height: 34px;
    font-size: 14px;
}

.status.segment .label .icon {
    float: left;
}


.speed.header {
    margin-top: 28px !important;
}

.speed.segment {
    height: 170px;
}

.force.segment {
    height: 100px;
}

.control.segment {
    height: 500px;
}