body {
    background-color: #000;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#navigation {
    background-color: #1a1c1d;
    width: 115px;
    float: left;
    height: 101vh;
    position: fixed;
}

#content {
    padding-left: 120px;
    overflow: hidden;
}

#navigation img {
    padding: 11px;
}

.operation.grid,
.settings.grid {
    padding-top: 24px;
    padding-left: 14px;
}

.operation.grid canvas {
    width: 100%;
}

.dark.header {
    height: 32px;
    padding-top: 8px !important;
    background-color: #4e4e4e !important;
    color: #fff;
    border-color: #646464 !important;
}


.status.segment {
    height: 60px;
}

.status.segment .label {
    text-align: center;
    margin-bottom: 13px !important;
    height: 34px;
    font-size: 14px;
    padding-top: 9px;
}

.status.segment .label .icon {
    float: left;
}

.pilot.segment {
    padding: 11px 0 0;
    height: 543px;
    padding-right: 8px;
}

.speed.header{
    margin-top: 16px !important;
}

.speed.segment {
    height: 283px;
    padding: 0;
}

.force.segment {
    height: 93px;
}

#speedChart {
    height: 100%;
    display: block;
    float: left;
    margin: 0;
    border-radius: 3px;
    position: relative;
}

#speedChart > .label {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    background: rgba(0,0,0,0.5);
    font-family: monospace;
    font-size: 0.8em;
    padding: 5px 10px;
}
#speedChart > .gauge > .dial {
    stroke: #334455;
    stroke-width: 2;
    fill: rgba(0,0,0,0);
}
#speedChart > .gauge > .value {
    stroke: rgb(47, 227, 255);
    stroke-width: 2;
    fill: rgba(0,0,0,0);
}
#speedChart > .gauge > .value-text {
    fill: rgb(47, 227, 255);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.8em;
}

#speedChart > .gauge > .dial {
    stroke: #334455;
    stroke-width: 2;
}
#speedChart > .gauge > .value {
    stroke: #004c8c;
    stroke-width: 5;
}
#speedChart > .gauge > .value-text {
    fill: #fff;
}

#speedChart svg:nth-child(2) .dial {
    stroke: transparent;
}

#speedChart svg:nth-child(2) .value {
    stroke: #63ccff;
}

#forceStatistics .value {
    font-size: 40px !important;
    padding-top: 4px;
}

#forceStatistics .label {
    font-size: 10px !important;
}